/* Base Badge */
.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  font-weight: 500;
  padding: 0 0.75rem;
  height: 1.5rem;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

/* Colors */
.gray {
  color: #1f2937;
  background-color: #f3f4f6;
}

.red {
  color: #991b1b;
  background-color: #fee2e2;
}

.yellow {
  color: #92400e;
  background-color: #fef3c7;
}

.green {
  color: #065f46;
  background-color: #d1fae5;
}

.blue {
  color: #1e40af;
  background-color: #dbeafe;
}

.indigo {
  color: #3730a3;
  background-color: #e0e7ff;
}

.purple {
  color: #6b21a8;
  background-color: #f3e8ff;
}

.pink {
  color: #9d174d;
  background-color: #fce7f3;
}

/* Shapes */
.square {
  border-radius: 4px;
}

.pill {
  border-radius: 9999px;
}
