/* Base Banner */
.banner {
  border-radius: 6px;
  padding: 16px;
  display: flex;
  gap: 12px;
  align-items: start;
}

/* Title */
.copy {
  display: flex;
  flex-direction: column;
  gap: 4px;

  h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

p {
  font-size: 14px;
  line-height: 20px;
}

/* Status */
.neutral {
  background-color: #eff6ff;

  h4 {
    color: #1e40af;
  }

  p {
    color: #1c51b9;
  }

  svg {
    stroke: #60a5fa;
    fill: none;
  }
}

.success {
  background-color: #ecfdf5;

  h4 {
    color: #065f46;
  }

  p {
    color: #047857;
  }

  svg {
    stroke: #10b981;
    fill: none;
  }
}

.warning {
  background-color: #fffbeb;

  h4 {
    color: #92400e;
  }

  p {
    color: #b45309;
  }

  svg {
    stroke: #f59e0b;
    fill: none;
  }
}

.error {
  background-color: #fef2f2;

  h4 {
    color: #991b1b;
  }

  p {
    color: #b91c1c;
  }

  svg {
    stroke: #ef4444;
    fill: none;
  }
}
